.search {
  width: 100%;
  position: relative;
  margin: 2rem 0;

  & > i {
    position: absolute;
    left: 7px;
    top: 7px;
    color: cadetblue;
    font-size: 1.5rem;
  }
  
  &__field {
    &::placeholder {
      color: rgb(125, 125, 126);
      padding-left: 0.8px;
      font-size: 1em;
    }

    color: #fffff0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    background-color: #545360;
    border-radius: 5px;
    height: 2.2rem;
    border: 0px;
    padding-left: 35px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1023px) {
  .search {
    & > i {
      left: 12px;
      top: 10px;
    }

    &__field {
      width: 100%;
      text-indent: 10px;
      height: 2.8rem;
    }
  }
}

@media (max-width: 768px) {
  .search  {
    display: none;
  }
}
